streamlit
pandas
numpy
scikit-learn
tensorflow
matplotlib
scikeras
langchain
python-dotenv
langchain-openai
langchain-community
langchain-classic
langchain-ollama
langchain-groq
transformers
langchain-chroma
langchain_huggingface
sentence-transformers
langchain-classic
faiss-cpu
arxiv
wikipedia
ddgs
validators
youtube-transcript-api
pytube
unstructured
numexpr
langchain-experimental
huggingface_hub
cassio
datasets
tiktoken
langchain-astradb       
PyPDF2
gradio